<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-35(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{35} - %F:%L %msg%n</pattern>
		</encoder>
	</appender>

    <logger name="org.springframework.ws.client.MessageTracing.sent" level="trace"/>
    <logger name="org.springframework.ws.client.MessageTracing.received" level="debug"/>
	<logger name="nz.co.senanque.madura.bundle" level="info" />
	<logger name="com.atomikos.icatch.imp.CoordinatorImp" level="error"/>
	
	<!-- These two entries suppress the annoying messages from old transactions that have failed -->
	<logger name="com.atomikos.icatch.imp.CommitMessage" level="error"/>
	<logger name="com.atomikos.datasource.xa.XAResourceTransaction" level="error"/>
	
	<logger name="org.springframework.jmx" level="info"/>
	<logger name="org.springframework.context.support.ResourceBundleMessageSource" level="error"/>
	<logger name="nz.co.senanque.messaging.GenericEndpoint" level="debug"/>
	<logger name="nz.co.senanque.workflow.TemperatureComputeClass" level="debug"/>
 	<logger name="nz.co.senanque.workflow.ContextJPA" level="info"/>
 	<logger name="nz.co.senanque.workflow.WorkflowJPA" level="info"/>
	<logger name="nz.co.senanque.workflowui.MainLayout" level="debug"/>
	<logger name="nz.co.senanque.workflowui.FormWizard" level="debug"/>
	<logger name="nz.co.senanque.workflow.DisplayContext" level="debug"/>
	<logger name="nz.co.senanque.madura.bundle" level="info"/>
	<logger name="nz.co.senanque.process.instances" level="warn"/>
	<logger name="nz.co.senanque.madura.bundle.spring.DumpBeanFactory" level="debug"/>
	

<!-- 
	<logger name="nz.co.senanque.logging.HashIdLogger" level="debug"/>
	<logger name="nz.co.senanque.workflow.WorkflowManagerImpl" level="debug"/>
	<logger name="nz.co.senanque.workflow.WorkflowManagerAbstract" level="debug"/>
 	<logger name="nz.co.senanque.rules" level="debug"/>
	<logger name="nz.co.senanque.workflow.GenericVaadinForm" level="debug"/>
	<logger name="nz.co.senanque.madura.bundle" level="debug"/>
	<logger name="nz.co.senanque.vaadinsupport.application" level="debug"/>
	<logger name="nz.co.senanque.vaadinsupport.FieldFactory" level="debug"/>
	<logger name="nz.co.senanque.vaadinsupport.HintsImpl" level="debug"/>
	<logger name="nz.co.senanque.workflowui.ProcessInstances" level="debug"/>
	<logger name="nz.co.senanque.vaadinsupport.application.MaduraSessionManager" level="debug"/>
	<logger name="nz.co.senanque.workflowui.FormWizard" level="debug"/>
	<logger name="nz.co.senanque.vaadinsupport.MaduraForm" level="debug"/>
 -->
	<root level="warn">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

