@import url(../reindeer/styles.css);

.v-app {
	font-family: verdana,sans-serif;
    font-size: 12pt;
    font-weight: normal;
}
.v-panel-content {
	background-color: #e0e0ff;
	}
.v-panel-caption {
	color: #0000ce;
	text-align: center;
	font-family: verdana,sans-serif;
	font-weight: bold;
	font-size:	16px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color:	transparent;
}
/*.loginTop .v-panel-caption {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 12px;
}
*/
.v-generated-body {
	background-color:#e0e0ff;
}
.v-caption {
	color: #0000ce;
	text-align: left;
	font-size:	16px;
	font-family: verdana,sans-serif;
}
.heading {
	background-color: white;
	background-image: url("images/heading-background.gif");
	background-repeat:	repeat-y;
	background-position:	right center;
	opacity:	1;
	margin: 0;
	padding: 0;
	}
.heading-words {
    color: white;
    font-size: 16pt;
    font-weight: bold;
    line-height: inherit;
    text-shadow: -1px 1px 0px #000;
    padding-top: 5px;
    padding-right: 6px;
    font-family:	verdana,sans-serif;
	background-color: transparent;
	opacity:	1;
	}
.heading-buttons {
	background-color: white;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	}
.heading-buttons .v-button-link .v-button-caption, .v-nativebutton-link .v-nativebutton-caption {
    color: #0000ce;
    font-size: 12pt;
    font-weight: normal;
    line-height: inherit;
    text-shadow: none;
    padding-right: 16px;
}
.v-button-link .v-button-caption, .v-nativebutton-link .v-nativebutton-caption {
    color: #0000ce;
    font-size: 12pt;
    font-weight: normal;
    line-height: inherit;
    text-shadow: none;
    padding-right: 16px;
}
.heading-buttons .v-label {
	color: #0000ce;
	text-decoration:none;
	vertical-align: baseline;
	margin-right: 16px;
	}
.v-tabsheet-tabitem {
	color: black;
	cursor: pointer;
	}
.v-tabsheet-tabitem-selected {
	font-weight: bold;
	}
.v-table-table {
	font-size: 12pt;
	}
.v-form fieldset {
	padding: 5px;
	border: none;
	margin: 0px;
	margin-left: 10px;
	}
.v-panel .v-panel-popup-extrafields .popup-extrafields {
	padding: 0px;
	border: none;
	margin: 00px;
	margin-left: 00px;
	}
.v-app .v-app-loginpage {
	background-color:#e0e0ff;
}
.v-app .v-app-loginpage .v-caption{
	background-color:#e0e0ff;
}
.v-textfield-align-right {
   text-align: right;
}
.v-loginform {
	background-color:#e0e0ff;		
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 12px;
}
.login-heading {
    color: #0000ce;
    font-size: 18pt;
    #font-weight: bold;
    font-style: italic;
	line-height: inherit;
    text-shadow: -1px 1px 0px #000;
    padding-top: 5px;
    padding-bottom: 10px;
	padding-right: 6px;
    font-family:	verdana,sans-serif;
	background-color: transparent;
	opacity:	1;
	text-shadow: -1px 1px 0px #000;
}
.login-logo {
    height: 30px;
    width: 150px;
	background-repeat: none;
	background-image: url(images/logo.png);
	background-color:transparent;
    padding-top: 5px;
    padding-right: 6px;
}		