<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		<pattern>%-35(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{35} - %F:%L %msg%n</pattern>
	</encoder>
	</appender>
	
<!-- 
    <logger name="nz.co.senanque.messaging" level="debug"/>
    <logger name="nz.co.senanque.process" level="debug"/>
    <logger name="nz.co.senanque.schedule" level="debug"/>
    <logger name="nz.co.senanque.process.parser" level="warn"/>
    <logger name="org.springframework.ws" level="debug"/>
     <logger name="nz.co.senanque.parser" level="debug"/>     
    <logger name="nz.co.senanque.process.parser" level="debug"/>     

    <logger name="org.springframework.retry" level="debug"/>
    <logger name="org.springframework.xml.transform" level="debug"/>
    <logger name="org.springframework.integration" level="debug"/>
    <logger name="nz.co.senanque.process.instances" level="debug"/>
    <logger name="nz.co.senanque.workflow" level="debug"/>
    <logger name="com.atomikos.jdbc.AbstractDataSourceBean" level="info"/>
    <logger name="nz.co.senanque.workflow.ContextJPA" level="debug"/>
    <logger name="nz.co.senanque.schedule" level="debug"/>
	<logger name="nz.co.senanque.validationengine.metadata.AnnotationsMetadataFactory" level="debug"/>
 -->
    <logger name="com.atomikos.icatch" level="error"/>
    <logger name="org.springframework.ws.client.MessageTracing.sent" level="trace"/>
    <logger name="org.springframework.ws.client.MessageTracing.received" level="debug"/>
    <logger name="nz.co.senanque.workflow" level="info"/>
    <logger name="nz.co.senanque.workflow.WorkflowWithRules2Test" level="debug"/>
    <logger name="nz.co.senanque.workflow.WorkflowManagerImpl" level="debug"/>
    
  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

